/* 
*  CSS TABLE OF CONTENTS
*   
*  1.0 - Globals
*  2.0 - Layout
*  3.0 - Utilities
*  4.0 - Components
*  5.0 - Fonts
*  6.0 - Animations

*/

/*---------------
1.0 - Globals
---------------*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0.6rem;
  background: hsl(355, 8%, 44%);
}

::-webkit-scrollbar-thumb {
  width: 0.6rem;
  background: hsl(355, 32%, 17%);
  border-radius: 1rem;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $bg-color;
}

body,
button,
input {
  font-family: $body-font;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

input {
  border: none;
  font-size: 1rem;
  width: auto;
  height: 50px;
  padding: 1rem;
  width: 100%;
  border-radius: 8px;
  outline: none;
  color: $title-color;
}

/*-----------------
2.0 - Layout 
-----------------*/
.l-main {
  overflow: hidden;
}

.l-container {
  max-width: 968px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.l-grid {
  display: grid;
}

.l-flex {
  display: flex;
}

@media screen and (min-width: $lg-breakpoint) {
  .l-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
  }
}

@media screen and (min-width: $xl-breakpoint) {
  .l-container {
    max-width: 1124px;
  }
}

@media screen and (min-width: 1400px) {
  .l-container {
    max-width: 1280px;
  }
}

/*-----------------
3.0 - Utilities
-----------------*/
.u-is-loading {
  opacity: 0;
}

.u-justify-content-between {
  justify-content: space-between;
}

.u-justify-content-center {
  justify-content: center;
}

.u-align-items-center {
  align-items: center;
}

.u-section {
  padding: 4.5rem 0 1rem;
  &__title {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
    text-align: center;
    color: $primary-color;
    @media screen and (min-width: $md-breakpoint) {
      font-size: 2.5rem;
      margin-bottom: 3.5rem;
    }
  }
  &__title--white {
    color: #fff;
  }
}

.u-m-1 {
  margin: 1rem;
}

.u-mb-0-5 {
  margin-bottom: 0.5rem;
}

.u-mb-1 {
  margin-bottom: 1rem;
}

.u-mb-1-5 {
  margin-bottom: 1.5rem;
}

.u-mb-2 {
  margin-bottom: 2rem;
}

.u-mb-2-5 {
  margin-bottom: 2.5rem;
}

.u-mb-3 {
  margin-bottom: 3rem;
}

.u-mt-0-5 {
  margin-top: 0.5rem;
}

.u-mt-1 {
  margin-top: 1rem;
}

.u-mt-1-5 {
  margin-top: 1.5rem;
}

.u-mt-2 {
  margin-top: 2rem;
}

.u-mt-2-5 {
  margin-top: 2.5rem;
}

.u-mt-5 {
  margin-top: 5rem;
}

.u-is_important {
  color: $primary-color;
}

@media screen and (min-width: $md-breakpoint) {
  .u-section {
    padding: 6.5rem 0 2rem;
  }
}

/*-----------------
4.0 - Components
-----------------*/
.c-button {
  display: inline-block;
  color: #fff;
  padding: 0.8rem 2.75rem;
  font-weight: 500;
  border-radius: 2rem;
  transition: 0.3s;
  &:hover {
    filter: brightness(80%);
  }
  &.c-button--primary {
    background-color: $primary-color;
  }
  &.c-button--card {
    display: flex;
    padding: 0.5rem;
    border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

/*-----------------
5.0 - Fonts
-----------------*/
h1,
h2,
h3,
p,
a {
  font-family: Open Sans;
  font-weight: 500;
  margin: 0px;
}

h1,
h2,
h3 {
  color: $title-color;
  font-weight: 600;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

p,
a {
  font-size: 0.9rem;
  color: $text-color;
}

@media screen and (min-width: $lg-breakpoint) {
  h1 {
    font-size: 2.25rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  p,
  a {
    font-size: 1rem;
  }
}

/*-----------------
6.0 - Carousel
-----------------*/
.slick-slide {
  padding: 10px !important;
}

.slick-prev:before,
.slick-next:before {
  font-size: 40px !important;
}

.slick-prev {
  left: -40px !important;
}

.slick-arrow {
  display: none !important;
}

@media screen and (min-width: $md-breakpoint) {
  .slick-arrow {
    display: block !important;
  }
}

/*-----------------
6.0 - Product Card
-----------------*/
.c-card {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 250px;
  background-color: #fff;
  box-shadow: 0 4px 16px hsla(355, 25%, 15%, 0.1);
  padding: 1rem 1rem 1.5rem;
  border-radius: 0.75rem;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  &:hover &__img {
    transform: translateY(-0.5rem);
  }
  &__overlay {
    width: 270px;
    height: 270px;
    background-color: transparent;
    box-shadow: 0 4px 16px hsla(355, 25%, 15%, 0.1);
    border-radius: 50%;
    position: absolute;
    top: -5rem;
    left: -0.65rem;
    z-index: 0;
  }
  &__img {
    position: relative;
    width: 150px;
    transition: 0.3s;
  }
  &__price {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin: 1rem 0;
    small {
      font-size: 0.8rem;
      font-weight: 400;
      color: $text-color;
      text-decoration: line-through;
    }
  }
  &__title {
    font-size: 0.8rem;
    text-align: left;
    color: $title-color;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    margin-top: 1rem;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
