$body-font: Open Sans;
$primary-color: #ff444b;
$secondary-color: #d42447;
$container-color: #ffe2c7;

$bg-color: #f8faff;
$title-color: #2c3e50;
$text-color: #6c757d;

$sm-breakpoint: 480px;
$md-breakpoint: 767px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1280px;
