<template>
  <section v-if="categories.length > 0" class="u-section" id="categories">
    <div class="c-categories l-container">
      <div class="c-categories__container l-grid">
        <a
          anchor-to="categorized"
          v-for="category in categories"
          :key="category.id"
          class="c-categories__content  js-anchor"
          @click="openCategory(category.attributes.key)"
        >
          <img
            :src="$getImg(category.attributes.thumbnail)"
            class="u-mb-0-5"
            alt="First categories"
            data-not-lazy
          />
          <h3 class="c-categories__title">{{ category.attributes.name }}</h3>
        </a>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      categories: []
    }
  },
  methods: {
    openCategory(categoryKey) {
      const el = document.getElementById(categoryKey)
      el.focus()
      el.click()
    }
  },
  async fetch() {
    const categories = await this.$axios.$get('category')
    this.categories = categories.data
  }
}
</script>

<style lang="scss" scoped>
.c-categories {
  &__title {
    font-size: 0.9rem;
  }
  &__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem 1.5rem;
  }
  &__content {
    background-color: $container-color;
    box-shadow: 0 4px 16px rgb(48 29 30 / 10%);
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
    text-align: center;
    &:hover {
      img {
        transform: translateY(-0.25rem);
      }
    }
    img {
      height: 60px;
      width: auto;
      transition: 0.3s;
    }
  }
  @media screen and (min-width: $md-breakpoint) {
    &__container {
      grid-template-columns: repeat(auto-fit, 150px);
      justify-content: center;
      column-gap: 3rem;
    }
  }
  @media screen and (min-width: $lg-breakpoint) {
    &__content {
      img {
        height: 80px;
        width: auto;
      }
    }
  }
}
</style>
