<template>
  <section v-if="cupons.length > 0" class="c-cupons" id="coupons">
    <div class="l-container">
      <h2 class="u-section__title u-section__title--white">
        Campanhas especiais e cupons exclusivos
      </h2>
      <VueSlickCarousel v-bind="slickOptions" v-if="cupons.length">
        <div
          class="c-cupons__card"
          v-for="(cupom, index) in cupons"
          :key="index"
        >
          <div
            class="c-cupons__banner"
            v-if="cupom.attributes.thumbnail.data !== null"
            :style="`background:url(${$getImg(cupom.attributes.thumbnail)})`"
          ></div>

          <div v-else class="c-cupons__wrapper">
            <a target="_blank" :href="cupom.attributes.link">
              <h3 class="u-mb-1">{{ cupom.attributes.title }}</h3>
              <h2>{{ cupom.attributes.discount }}</h2>
            </a>
            <button
              class="c-button c-button--primary"
              @click="copyToClipboard(cupom.attributes.code, $event)"
            >
              <i class="bx bx-copy-alt"></i> {{ cupom.attributes.code }}
            </button>

            <a
              target="_blank"
              :href="cupom.attributes.link"
              class="c-cupons__conditions l-flex u-align-items-center"
            >
              <small>{{ cupom.attributes.conditions }}</small>
            </a>
          </div>
        </div>
      </VueSlickCarousel>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      cupons: [],
      slickOptions: {
        slidesToShow: 4,
        arrows: true,
        autoplay: true,
        autoplaySpeed: 1500,
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 3,
              infinite: true,
              dots: true
            }
          },
          {
            breakpoint: 600,
            settings: {
              centerMode: true,
              slidesToShow: 2,
              slidesToScroll: 2,
              initialSlide: 2
            }
          },
          {
            breakpoint: 480,
            settings: {
              centerMode: true,
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
      }
    }
  },
  methods: {
    copyToClipboard(code, event) {
      const button = event.target

      button.innerHTML == 'Copiado'
        ? (button.innerHTML = code)
        : (button.innerHTML = 'Copiado')

      var textarea = document.createElement('textarea')
      textarea.textContent = code
      textarea.style.position = 'fixed'
      document.body.appendChild(textarea)
      textarea.select()
      try {
        return document.execCommand('copy')
      } catch (ex) {
        console.warn('Copy to clipboard failed.', ex)
        return false
      } finally {
        document.body.removeChild(textarea)
      }
    }
  },
  async fetch() {
    const results = await this.$axios.$get('coupon')
    this.cupons = this.cupons = results.data
  }
}
</script>

<style lang="scss" scoped>
.c-cupons {
  padding: 4.5rem 0;
  background-color: $primary-color;
  &__card {
    border-radius: 1rem;
    box-shadow: 0 4px 16px rgb(48 29 30 / 10%);
    background-color: #fff;
    height: 270px;
    position: relative;
    z-index: 10;
    h3 {
      color: #454545;
      font-size: 1rem;
      font-weight: 400;
    }
    h2 {
      font-size: 1.5rem;
    }
  }
  &__wrapper {
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
    button {
      z-index: 9000;
      display: block;
      font-size: 0.8rem;
      @media screen and (min-width: $md-breakpoint) {
        font-size: 1rem;
      }
    }
  }
  &__banner {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }
  &__conditions {
    padding: 0 1rem;
  }
}

.popover {
  position: absolute;
  top: 10px;
  left: 0;
  margin-left: -100px;
  z-index: 9000;
  width: 250px;
  left: -10%;
  background-color: #fff;
  padding: 2rem;
}
</style>
