<template>
  <section class="c-home" id="home">
    <div class="l-container l-grid c-home__container">
      <img
        class="c-home__img"
        src="https://aliexpressbc.nznvaas.io/aliexpress-experience/shop.webp"
        alt="Shopping"
        data-not-lazy
      />

      <div class="c-home__data">
        <h1 class="c-home__title u-mb-1">
          Ofertas exclusivas <br />
          e <b class="u-is_important">campanhas imperdíveis</b>
        </h1>
        <p class="c-home__description u-mb-2-5">
          Aproveite o cupom exclusivo TecMundo e a entrega rápida do AliExpress.
        </p>
        <div class="c-home__search l-flex u-justify-content-center">
          <input
            v-model="searchedWord"
            type="text"
            placeholder="Pesquise por um produto"
            @keyup.enter="search()"
          />
          <NuxtLink
            :to="{ name: 'busca', params: { term: searchedWord } }"
            class="c-home__search-icon l-flex u-align-items-center u-justify-content-center"
          >
            <i class="bx bx-search-alt"></i>
          </NuxtLink>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      searchedWord: ''
    }
  },
  methods: {
    search() {
      this.$router.push({
        name: 'busca',
        params: { term: this.searchedWord }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.c-home {
  background-color: $container-color;
  padding: 3rem 0;
  &__search {
    position: relative;
    padding: 0 2rem;
    input {
      font-size: 0.8rem;
      &:focus + .c-home__search-icon {
        i {
          animation: float 2.5s ease-in-out infinite;
        }
      }
    }
  }
  &__search-icon {
    width: 50px;
    height: 50px;
    background-color: $primary-color;
    position: absolute;
    color: #fff;
    padding: 1rem;
    border-radius: 0px 8px 8px 0px;
    font-size: 1.5rem;
    right: 2rem;
    top: 0;
    cursor: pointer;
  }
  &__title {
    font-size: 1.5rem;
  }
  &__container {
    row-gap: 1.5rem;
  }
  &__img {
    width: 180px;
    justify-self: center;
  }
  &__data {
    text-align: center;
  }
  &__description {
    padding: 0 2rem;
    font-size: 1rem;
  }

  @media screen and (min-width: $md-breakpoint) {
    &__home {
      padding: 5rem 0;
    }
    &__search {
      padding: 0 2rem 0 0;
    }
    &__img {
      width: 320px;
    }
    &__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
    &__data {
      text-align: initial;
      grid-column-start: 1;
      grid-row-start: 1;
    }
    &__title {
      font-size: 2.8rem;
    }
    &__description {
      padding: 0;
    }
  }
  @media screen and (min-width: $lg-breakpoint) {
    &__container {
      column-gap: 3rem;
    }
    &__img {
      width: 500px;
    }
    &__description {
      padding-right: 8rem;
    }
  }
}
</style>
