<template>
  <section class="u-section c-news" id="news" v-if="posts.length > 0">
    <h2 class="u-section__title">Conteúdos de tecnologia</h2>
    <div class="c-news__videos l-container l-flex u-mb-3">
      <iframe
        v-for="(video, index) in videos"
        :key="index"
        width="380"
        height="260"
        :src="video"
        frameborder="0"
      ></iframe>
    </div>

    <div class="c-news__posts l-container l-flex">
      <a
        v-for="(post, index) in posts"
        :key="index"
        class="c-news__card"
        :href="`https://tecmundo.com.br${post.url}`"
        target="_blank"
      >
        <div class="c-news__thumb">
          <img :src="post.imagem" :alt="post.titulo" />
        </div>
        <div class="c-news__title">
          <h2>{{ post.titulo }}</h2>
        </div>
      </a>
    </div>

    <div class="l-flex u-justify-content-center u-mt-5 u-mb-2-5">
      <button
        v-if="posts.length < total"
        @click="loadMore()"
        class="c-button c-button--primary"
      >
        Mostrar mais
      </button>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      page: 1,
      total: 0,
      posts: [],
      videos: [
        'https://www.youtube.com/embed/0KIzxx_caVc?start=5&feature=oembed',
        'https://www.youtube.com/embed/FLyo0iSzg6c?start=4&feature=oembed',
        'https://www.youtube.com/embed/VHWhTrWF_BU?feature=oembed'
      ]
    }
  },
  methods: {
    async loadMore() {
      $nuxt.$emit('start-load')
      const nextPage = this.page + 1
      const results = await this.$axios.$get(`new?page=${nextPage}`)
      this.posts = this.posts.concat(results[0].dados)
      this.page = nextPage
      $nuxt.$emit('stop-load')
    }
  },
  async fetch() {
    const posts = await this.$axios.$get('new?page=1')
    this.total = posts[0].totalGeral
    this.posts = posts[0].dados
  }
}
</script>

<style lang="scss" scoped>
.c-news {
  &__videos,
  &__posts {
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 3rem;
  }
  &__card {
    position: relative;
    width: 380px;
    background-color: #fff;
    box-shadow: 0 4px 16px rgb(48 29 30 / 10%);
    &:hover .c-news__thumb img {
      transform: scale(1.1);
    }
    h2 {
      font-size: 1.2rem;
    }
  }
  &__thumb {
    height: 180px;
    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.4s;
    }
  }
  &__title {
    padding: 2rem;
  }
}
</style>
