<template>
  <section v-if="products.length > 0" class="u-section" id="offers">
    <div class="c-products l-container">
      <h2 class="u-section__title">Ta bombando</h2>

      <div class="c-products__container l-flex">
        <a
          class="c-card"
          v-for="(product, index) in products"
          :key="index"
          :href="product.attributes.link"
          target="_blank"
        >
          <div class="c-card__overlay"></div>
          <img
            class="c-card__img u-mb-2"
            :src="$getImg(product.attributes.thumbnail)"
          />
          <span class="c-card__title">{{ product.attributes.title }}</span>
          <h3 class="c-card__price">
            <small>R$ {{ product.attributes.regular_price }}</small>
            R$ {{ product.attributes.current_price }}
          </h3>

          <button class="c-button c-button--primary c-button--card">
            {{
              $getProductDiscount(
                product.attributes.regular_price,
                product.attributes.current_price
              )
            }}
          </button>
        </a>
      </div>
      <div class="l-flex u-justify-content-center u-mt-5 u-mb-2-5">
        <button
          v-if="products.length < total"
          @click="loadMore()"
          class="c-button c-button--primary"
        >
          Mostrar mais
        </button>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      products: [],
      results: [],
      total: 0,
      page: 1
    }
  },
  methods: {
    async loadMore() {
      $nuxt.$emit('start-load')
      const nextPage = this.page + 1
      const results = await this.$axios.$get(`offer?page=${nextPage}`)
      this.products = this.products.concat(results.data)
      this.page = nextPage
      $nuxt.$emit('stop-load')
    }
  },
  async fetch() {
    const products = await this.$axios.$get('offer?page=1')
    this.total = products.meta.pagination.total
    this.products = products.data
  }
}
</script>

<style lang="scss" scoped>
.c-products {
  &__container {
    flex-wrap: wrap;
    column-gap: 2rem;
    justify-content: space-evenly;
    row-gap: 4rem;
  }
}
</style>
