<template>
  <article class="c-card">
    <div v-if="overlay" class="c-card__overlay"></div>
    <img v-if="lazyload" class="c-card__img u-mb-2" src="/product.webp" />
    <img v-else data-not-lazy class="c-card__img u-mb-2" src="/product.webp" />
    <span class="c-card__title"
      >Gamepad 8bitdo pro 2 sn30 pro + sn30 pro sf30 pro, controle sem fio
      bluetooth para windows, android, macos, nintendo switch steam</span
    >
    <h3 class="c-card__price">
      <small>R$ 30,42</small>
      R$ 150,50
    </h3>

    <button class="c-button c-button--primary c-button--card">
      -30%
    </button>
  </article>
</template>

<script>
export default {
  props: {
    /**
     * Set if overlay is active or not
     */
    overlay: {
      type: Boolean,
      required: true,
      default: true
    },
    lazyload: {
      type: Boolean,
      require: true,
      default: true
    }
  }
}
</script>

<style lang="scss" scoped>
.c-card {
  justify-self: center;
  position: relative;
  width: 250px;
  background-color: #fff;
  box-shadow: 0 4px 16px hsla(355, 25%, 15%, 0.1);
  padding: 1rem 1rem 1.5rem;
  border-radius: 0.75rem;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  &:hover &__img {
    transform: translateY(-0.5rem);
  }
  &__overlay {
    width: 270px;
    height: 270px;
    background-color: transparent;
    box-shadow: 0 4px 16px hsla(355, 25%, 15%, 0.1);
    border-radius: 50%;
    position: absolute;
    top: -5rem;
    left: -0.65rem;
    z-index: 0;
  }
  &__img {
    position: relative;
    width: 150px;
    transition: 0.3s;
  }
  &__price {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin: 1rem 0;
    small {
      font-size: 0.8rem;
      font-weight: 400;
      color: $text-color;
      text-decoration: line-through;
    }
  }
  &__title {
    font-size: 0.8rem;
    text-align: left;
    color: $title-color;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    margin-top: 1rem;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
</style>
