<template>
  <section
    v-if="categories.length > 0"
    class="u-section c-products"
    id="categorized"
  >
    <h2 class="u-section__title">Navegue por nossas ofertas</h2>
    <div class="l-container">
      <div class="c-products__tabs l-flex">
        <button
          :id="category.attributes.key"
          v-for="(category, index) in categories"
          :key="index"
          @click="getProducts(category.attributes.key)"
        >
          {{ category.attributes.name }} <i class="bx bx-purchase-tag-alt"></i>
        </button>
      </div>
      <div class="c-products__container" v-if="products.length > 0">
        <a
          class="c-card"
          v-for="(product, index) in products"
          :key="index"
          :href="product.promotion_link"
          target="_blank"
        >
          <div class="c-card__overlay"></div>
          <img
            class="c-card__img u-mb-2"
            :src="product.product_main_image_url"
          />
          <span class="c-card__title">{{ product.product_title }}</span>
          <h3 class="c-card__price">
            <small>R$ {{ product.original_price }}</small>
            R$ {{ product.app_sale_price }}
          </h3>

          <button class="c-button c-button--primary c-button--card">
            {{
              $getProductDiscount(
                product.original_price,
                product.app_sale_price
              )
            }}
          </button>
        </a>
      </div>

      <div class="l-flex u-justify-content-center u-mt-5 u-mb-2-5">
        <a
          href="https://s.click.aliexpress.com/e/_9JuZM8"
          target="_blank"
          class="c-button c-button--primary"
          >Confira mais no site</a
        >
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      products: [],
      categories: []
    }
  },
  async fetch() {
    const results = await this.$axios.$get(`product?category=${null}`)
    const categories = await this.$axios.$get('category')
    this.products = results.product.slice(0, 8)
    this.categories = categories.data
  },
  methods: {
    async getProducts(category) {
      $nuxt.$emit('start-load')
      const results = await this.$axios.$get(
        `product?category=${category.toLowerCase()}`
      )
      this.products = results.product.slice(0, 8)
      $nuxt.$emit('stop-load')
    }
  }
}
</script>

<style lang="scss" scoped>
.c-products {
  &__container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    justify-content: space-around;
    row-gap: 4rem;
  }
  &__tabs {
    margin-bottom: 3.5rem;
    column-gap: 2rem;
    flex-wrap: wrap;
    row-gap: 2rem;
    justify-content: center;
    button {
      display: flex;
      align-items: center;
      column-gap: 1rem;
      padding: 1rem;
      background-color: #fff;
      border-radius: 1rem;
      i {
        width: 30px;
        height: 30px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: 0.4s;
      }
      &:focus {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        background-color: $primary-color;
        color: #fff;
        i {
          transition: 0.4s;
          transform: translateY(-1.5rem);
          color: $primary-color;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
      }
    }
  }
}
</style>
