<template>
  <section v-if="products.length > 0" class="c-products" id="hot">
    <h2 class="u-section__title u-section__title--white">
      Seleção TecMundo especialmente para você
    </h2>
    <div class="l-container">
      <VueSlickCarousel v-bind="slickOptions" v-if="products.length">
        <a
          class="c-card"
          v-for="(product, index) in products"
          :key="index"
          :href="product.attributes.link"
          target="_blank"
        >
          <img
            class="c-card__img u-mb-2"
            :src="$getImg(product.attributes.thumbnail)"
          />
          <span class="c-card__title">{{ product.attributes.title }}</span>
          <h3 class="c-card__price">
            <small>R$ {{ product.attributes.regular_price }}</small>
            R$ {{ product.attributes.current_price }}
          </h3>

          <button class="c-button c-button--primary c-button--card">
            {{
              $getProductDiscount(
                product.attributes.regular_price,
                product.attributes.current_price
              )
            }}
          </button>
        </a>
      </VueSlickCarousel>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      products: [],
      slickOptions: {
        slidesToShow: 4,
        arrows: true,
        autoplay: true,
        autoplaySpeed: 1500,
        lazyLoad: 'ondemand',
        responsive: [
          {
            breakpoint: 700,
            settings: {
              arrows: false,
              centerMode: true,
              centerPadding: '40px',
              slidesToShow: 3
            }
          },
          {
            breakpoint: 480,
            settings: {
              arrows: false,
              centerMode: true,
              centerPadding: '40px',
              slidesToShow: 1
            }
          }
        ]
      }
    }
  },
  async fetch() {
    const results = await this.$axios.$get('highlight')
    this.products = this.products.concat(results.data)
  }
}
</script>

<style lang="scss" scoped>
.c-products {
  padding: 4.5rem 0;
  background-color: $primary-color;
}
</style>
