<template>
  <footer class="c-footer l-flex u-justify-content-center u-align-items-center">
    <div class="l-container l-grid">
      <a href="javascript:void(0)">
        <img
          class="c-footer__logo"
          src="https://aliexpressbc.nznvaas.io/aliexpress-experience/tecmundo_logo.svg"
          alt="Tecmundo"
          data-not-lazy
        />
      </a>
    </div>
  </footer>
</template>

<style lang="scss" scoped>
.c-footer {
  position: absolute;
  width: 100%;
  height: 70px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  margin-top: 4.5rem;
  &__container {
    background-color: grey;
  }
  &__logo {
    width: 100%;
  }
  @media screen and (min-width: $md-breakpoint) {
    margin-top: 6.5rem;
  }
}
</style>
