<template>
  <header class="c-header js-header">
    <nav
      class="c-nav l-container l-flex u-justify-content-between u-align-items-center"
    >
      <NuxtLink class="c-nav__logo l-flex  u-align-items-center" to="/">
        <img
          src="https://aliexpressbc.nznvaas.io/aliexpress-experience/aliexpress_logo.png"
          alt="Aliexpress logo"
          data-not-lazy
        />
      </NuxtLink>

      <div class="c-nav__menu js-nav__menu">
        <ul
          v-if="this.$route.name == 'index'"
          class="c-nav__list l-flex u-align-items-center"
        >
          <li class="c-nav__item">
            <a
              anchor-to="offers"
              class="c-nav__link js-anchor"
              href="javascript:void(0)"
              >Ta bombando</a
            >
          </li>
          <li class="c-nav__item">
            <a
              anchor-to="hot"
              class="c-nav__link js-anchor"
              href="javascript:void(0)"
              >Promoções relâmpago</a
            >
          </li>
          <li class="c-nav__item">
            <a
              anchor-to="categorized"
              class="c-nav__link js-anchor"
              href="javascript:void(0)"
              >Ofertas exclusivas</a
            >
          </li>
          <li class="c-nav__item">
            <a
              anchor-to="coupons"
              class="c-nav__link js-anchor"
              href="javascript:void(0)"
              >Cupons</a
            >
          </li>
          <li class="c-nav__item">
            <a
              anchor-to="news"
              class="c-nav__link js-anchor"
              href="javascript:void(0)"
              >Conteúdos</a
            >
          </li>
          <li class="c-nav__item">
            <a
              anchor-to="faq"
              class="c-nav__link js-anchor"
              href="javascript:void(0)"
              >Faq</a
            >
          </li>
        </ul>

        <ul v-else>
          <li class="c-nav__item">
            <NuxtLink class="c-nav__link" to="/"
              ><i class="bx bx-arrow-back"></i> Voltar</NuxtLink
            >
          </li>
        </ul>

        <div @click="closeMenu()" class="c-nav__close">
          <i class="bx bx-x"></i>
        </div>
      </div>

      <div @click="openMenu()" class="c-nav__toggle">
        <i class="bx bx-grid-alt"></i>
      </div>
    </nav>
  </header>
</template>

<script>
export default {
  methods: {
    openMenu() {
      const navMenu = document.querySelector('.js-nav__menu')
      navMenu.classList.add('is-open')
    },
    closeMenu() {
      const navMenu = document.querySelector('.js-nav__menu')
      navMenu.classList.remove('is-open')
    }
  }
}
</script>

<style lang="scss" scoped>
.c-header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: $container-color;
  &.is-sticky {
    box-shadow: 0 1px 4px hsla(0, 4%, 15%, 0.1);
    background-color: #fff;
    .c-nav {
      padding: 0;
      transition: 0.5s;
      &__logo {
        img {
          transition: 0.5s;
          max-width: 120px;
        }
      }
    }
  }
}
.c-nav {
  padding: 4rem 0rem;
  position: sticky;
  top: 0;
  height: 70px;
  transition: 0.5s;

  &__logo {
    img {
      transition: 0.5s;
      max-width: 150px;
    }
  }
  &__toggle {
    display: inline-flex;
    font-size: 1.25rem;
    cursor: pointer;
  }
  &__list {
    flex-direction: column;
    row-gap: 1.5rem;
  }
  &__link {
    color: $title-color;
    font-weight: 600;
    transition: 0.3s;
    font-size: 0.9rem;
    &:hover {
      color: $primary-color;
    }
  }
  &__close {
    font-size: 2rem;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    cursor: pointer;
  }
  @media screen and (min-width: $md-breakpoint) {
    height: 100px;
    column-gap: 3rem;
    &__menu {
      margin-left: auto;
    }
    &__toggle,
    &__close {
      display: none;
    }
    &__list {
      flex-direction: row;
      column-gap: 3rem;
    }
  }
  @media screen and (max-width: $md-breakpoint) {
    &__menu {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      padding: 4rem 0;
      border-radius: 0 0 1.5rem 1.5rem;
      box-shadow: 0 1px 4px hsla(0, 4%, 15%, 0.1);
      transition: 2s all ease;
      background-color: #fff;
      &.is-open {
        top: 0;
        transition: 0.5s all ease;
      }
    }
  }
}

@media screen and (max-width: $md-breakpoint) {
  .c-nav {
    padding: 3rem 0;
    &__logo {
      img {
        width: 120px;
        padding: 0.5rem;
      }
    }
  }
}
</style>
