<template>
  <a
    href="javascript:void(0)"
    class="c-scrollup js-scrollup js-anchor"
    anchor-to="main"
  >
    <i class="bx bx-up-arrow-alt c-scrollup__icon"></i>
  </a>
</template>

<script>
export default {
  mounted() {
    window.addEventListener('scroll', function() {
      let scroll = document.querySelector('.js-scrollup')
      if (window.pageYOffset > 350) {
        scroll.classList.add('is-active')
      } else {
        scroll.classList.remove('is-active')
      }
    })
  }
}
</script>

<style lang="scss" scoped>
.c-scrollup {
  position: fixed;
  right: 2rem;
  bottom: -30%;
  background-color: #fff;
  box-shadow: 0 4px 12px hsl(0, 0%, 20%, 0.1);
  display: inline-flex;
  padding: 0.35rem;
  border-radius: 0.25rem;
  z-index: 200;
  opacity: 0.8;
  transition: 0.4s;
  &.is-active {
    bottom: 3rem;
  }
  &:hover {
    opacity: 1;
  }
  &__icon {
    font-size: 1.25rem;
    color: $primary-color;
  }
}
</style>
