<template>
  <div>
    <section class="u-section c-results">
      <div class="l-container">
        <div class="c-results__info l-flex">
          <div class="c-results__icon">
            <i class="bx bx-search-alt"></i>
          </div>

          <div>
            <span>Resultados de busca para:</span>
            <h1>{{ searchedTerm }}</h1>
          </div>
        </div>
        <hr />

        <div v-if="products.length > 0" class="c-results__products l-flex">
          <a
            class="c-card"
            v-for="(product, index) in products"
            :key="index"
            :href="product.attributes.link"
            target="_blank"
          >
            <div class="c-card__overlay"></div>
            <img
              v-if="product.attributes.thumbnail.data !== undefined"
              class="c-card__img u-mb-2"
              :src="$getImg(product.attributes.thumbnail)"
            />
            <img
              v-else
              class="c-card__img u-mb-2"
              :src="product.attributes.thumbnail"
            />
            <span class="c-card__title">{{ product.attributes.title }}</span>
            <h3 class="c-card__price">
              <small>R$ {{ product.attributes.regular_price }}</small>
              R$ {{ product.attributes.current_price }}
            </h3>

            <button class="c-button c-button--primary c-button--card">
              {{
                $getProductDiscount(
                  product.attributes.regular_price,
                  product.attributes.current_price
                )
              }}
            </button>
          </a>
        </div>

        <div v-else class="c-results__not-found l-flex">
          <h3 class="u-mb-2">Nenhum produto encontrado</h3>
          <img
            src="https://aliexpressbc.nznvaas.io/aliexpress-experience/not_found.png"
            alt="Nenhum resultado encontrado"
          />
        </div>
      </div>
    </section>
    <Faq />
    <TheFooter />
  </div>
</template>

<script>
export default {
  data() {
    return {
      searchedTerm: '',
      products: []
    }
  },
  created() {
    this.searchedTerm = this.$route.params.term
    this.getProducts()
  },
  methods: {
    async getProducts() {
      $nuxt.$emit('start-load')
      const products = await this.$axios.$get(
        `search?term=${this.searchedTerm}`
      )
      this.products = products.data
      $nuxt.$emit('stop-load')
    }
  }
}
</script>

<style lang="scss" scoped>
.c-results {
  hr {
    border: 1px solid rgba(78, 74, 74, 0.082);
    height: 0;
    margin: 1rem 0 3rem 0;
  }
  &__info {
    column-gap: 1rem;
    align-items: center;
  }
  &__icon {
    font-size: 3rem;
    color: $title-color;
  }
  &__products {
    flex-wrap: wrap;
    column-gap: 2rem;
    justify-content: center;
    row-gap: 4rem;
    @media screen and (min-width: $md-breakpoint) {
      justify-content: flex-start;
    }
  }
  &__not-found {
    flex-direction: column;
    align-items: center;
    h3 {
      color: rgba(49, 49, 49, 0.671);
    }
    img {
      max-width: 350px;
    }
  }
  @media screen and (min-width: $md-breakpoint) {
    hr {
      width: 50%;
    }
  }
}
</style>
