<template>
  <div>
    <main class="l-main" id="main">
      <Home />
      <Categories />
      <ProductListOffers />
      <ProductListHot />
      <ProductListCategorized />
      <CuponsList />
      <News />
      <Faq />
      <TheFooter />
    </main>
  </div>
</template>
